.container {
    background-image: url('https://st.depositphotos.com/1813957/4505/i/450/depositphotos_45053157-stock-illustration-light-pink-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
  }
  
  .formGroup input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #d11c6b; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color:  #f0678e; 
  }
  
  h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: normal; /* Remover o negrito */
    color: #000000;
  }