.conteiner{
  background-color: #2e2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.conteiner p{
  font-size: 2rem;
  color: var(--cinza-claro);
  padding: 20px;
  color: white;
} 
