.container {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 250px;
  color: #fff;
  padding-left: -50%;
}

.perfil {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: #43a04800;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.perfil p {
  font-size: 18px;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
}

.botao {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #43a047;
}
